h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: black;
  text-align: left;
}

.aboutbg{

  background-color: black
}
.stats{

font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: white
}

p{

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(20, 20, 20);
  font-size: 16px;
  margin: 5%;
  padding-right:5px;
  padding-left: 5px;
  text-align: justify;
}

.tab { 
  margin-left: 40px; 
}

h2{
  font-family: Andale Mono, monospace;
  font-size: 24;
  font-weight: 500;
  margin: 5%;
  padding-right:5px;
  padding-left: 5px;
  padding-bottom: 2px;
  padding-top: 6px;
}

h3{
font-family: "Lucida Console", Monaco, monospace;
font-size: 20px;
font-weight: 250;
margin: 5%;
padding-right:10px;
padding-left: 10px;
padding-bottom: 3px;
padding-top: 4px;
}
.rgimg{

  padding: 20px;
}

ul{

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16px;
  list-style-type: circle;
  text-align: justify, right;
  margin: 5%;
  padding-right:5px;
  padding-left: 5px;

}

.h2v2{

  font-family: Andale Mono, monospace;
  font-size: 24;
  font-weight: 500;
  margin: 5%;
  padding-right:5px;
  padding-left: 5px;
  padding-bottom: 2px;
  padding-top: 6px;
  text-align: right;
}